:root {
    --primary-color: #5e41c9;
  }
.container-center {
    max-width: 800px;
    margin: auto;
    text-align: center
  }
  .navigation {
    background-color: var(--primary-color);
    color: black;
    padding: 1rem 20rem 1rem 20rem;
    margin: 5px 5px 5px 5px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .footer{
      text-align: center;
  }